<h1>ABM</h1>
<h4>Agents' balances</h4>
<div class="row">
  <div class="col-6">
<table>
  <tr>
   <th>step</th>
   <th>minimum</th>
   <th>max</th>
   <th>sum</th>
   <th>mean</th>
   <th>std</th>

 </tr>
 <% @foreach(steps) do step %>
 <tr>
     <td>  $(step.step)</td>
    <td>  $(step.minimum_balance)</td>
    <td>  $(step.maximum_balance)</td>
    <td>  $(step.sum_balance)</td>
    <td>  $(step.round_mean_balance)</td>
    <td>  $(step.round_std_balance)</td>


  </tr>

<% end %>
  </div>
</div>



</table>
